* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#container-1 {
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  margin: 0px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.open-menu {
  opacity: 999;
  margin-right: 16px;
}
.search {
  width: 640px;
  height: 32px;
  padding: 2px 0px 2px 9px;
  display: flex;
  color: black;
  border: none;
  position: relative;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 2px 0 0 2px;
  margin: 0 450px 0 452px;
  justify-content: flex-end;
}
input {
  width: 600px;
  height: 32px;
  text-align: start;
  cursor: text;
  margin: 0;
  border: none;
  background: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  font: 16px arial, sans-serif;
  outline: none;
  padding: 1px;
}
.button {
  cursor: pointer;
  width: 65px;
  height: 32px;
  margin: 0;
  border: 1px solid lightgrey;
  background-color: #f8f8f8;
  border-radius: 1px;
  margin: 0;
  padding: 1px 7px 2px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.lupa:hover {
  border-color: #c6c6c6;
  background-color: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.search-icon {
  height: 20px;
  width: 20px;
  color: #9aa0a6;
  display: inline-block;
  position: relative;
  opacity: 0.4;
  cursor: pointer;
  margin-top: 3px;
}

.lupa {
  position: absolute;
  width: 65px;
  height: 32px;
  color: transparent;
  border: 1px solid lightgrey;
  background-color: #f8f8f8;
  cursor: pointer;
}
.apps-yt {
  margin-left: 28px;
}

.notificaciones {
  margin-left: 27px;
}
.user {
  width: 32px;
  height: 32px;
  margin-left: 30px;
}
.foto {
  border-radius: 50%;
  overflow: hidden;
}

#container-2 {
  width: 100%;
  height: 1123px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  flex: 1;
  overflow-y: auto;
}

#container-2 .division {
  width: 100%;
  padding-top: 12px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 12px;
}

#container-2 .division a {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24px 0 72px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  cursor: pointer;
  color: #606060;
  position: relative;
  text-decoration: none;
}
#container-2 .division a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
#container-2 .division a .icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  mix-blend-mode: darken;
}
#container-2 h3 {
  display: block;
  padding: 3px 22px 8px 24px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #606060;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.007px;
}

.luisito {
  border-radius: 80px;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

#container-2 h2 {
  width: 100%;
  display: inline-block;
  padding: 16px 24px 0;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  justify-content: flex-start;
  color: #606060;
  position: relative;
  letter-spacing: 0.007px;
  white-space: nowrap;
  flex-wrap: wrap;
  text-decoration: none;
}
